#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDescription {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
}

.skillBar {
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    background: rgb(50, 50, 50);
    border: 1px solid blueviolet;
}

.skillBarImg {
    display: inline-block;
    margin: 10px;
}

.skillBarImg img {
    width: 100px;
    padding: 10px;
    
}

.node, .express {
    background: black;
}

.skillBarText p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and(max-width: 720px) {
    .skillBarText p {
        font-size: 2vw;
    }
}

@media screen and(max-width: 480px) {
    .skillBarText p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 3rem;
        width: 2.5rem;
    }
    .skillBarText {
        font-size: 5vw;
    }
}