#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksImgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    max-width: 65rem;
}

.worksImg {
    object-fit: cover;
    margin: 0.5rem;
    width: 310px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid blueviolet;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}


@media screen and(max-width: 585px) {
    .worksImg {
        height: 48vw;
    }
}